<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>InciDashboard i1a</title>

<!-- Bootstrap core CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">

<!-- Using some scripts -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	crossorigin="anonymous"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>

<script
	src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
	
</script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>

<!-- Custom styles for this template -->
<link href="/css/custom-dashboard.css" rel="stylesheet">
</head>

<body>
	<main role="main" class="container">
	<h1 class="mt-5">
		<img src="/img/inc_light_icon.png" alt="" width="60">
		InciDashboard i1a
	</h1>
	<p class="lead"
		th:text="${'Welcome to the incidents dashboard. You are logged as: ' + loggedUser}">Welcome
		to the incidents dashboard. Logged as: someone</p>
	</main>
	<div class="row ml-4 mr-4 mt-4">
		<div class="card m-5">
			<div class="card-header">
				<h3>Last incidents received</h3>
			</div>
			<div class="card-body">
				<table class="table table-hover table-responsive">
					<thead class="thead-light">
						<tr>
							<th scope="col">ID</th>
							<th scope="col">Assigned agent</th>
							<th scope="col">Name</th>
							<th scope="col">Location</th>
							<th scope="col">Date</th>
							<th scope="col">Topic</th>
							<th scope="col">Operator</th>
							<th scope="col">Status</th>
							<th scope="col">Options</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="incident : ${incidentsList}">
							<th scope="row" th:text="${incident.idautogenerado}">ID</th>
							<td th:text="${incident.agent.name}">Agent name</td>
							<td th:text="${incident.incidentName}">Incident name</td>
							<td><a
								th:text="${incident.location.lat} + ', ' + ${incident.location.lng}"
								th:href="'http://maps.google.com/maps?q=' + 
					    			${incident.location.lat} + ',' + ${incident.location.lng}">Incident
									location</a></td>
							<td th:text="${incident.date}">Incident date</td>
							<td th:text="${incident.topic}">Incident topic</td>
							<td th:text="${incident.operator.username}">Incident topic</td>
							<td th:text="${incident.status}">Incident status</td>
							<td>
								<div class="btn-group" role="group" aria-label="Options">
									<a class="btn btn-secondary" role="button"
										th:href="${'/incident/details/' + incident.idautogenerado}">Details</a>
									<a class="btn btn-secondary" role="button" 
										th:href="${'/incident/edit/' + incident.idautogenerado}" th:if="${incident.isAssignedTo(loggedUser)}">Change status</a>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="card">
				<div class="card-header">
					<h3>Topic barchart</h3>
				</div>
				<div class="card-body">

					<div class="container">
						<canvas id="barChart" width="150" height="150"></canvas>
					</div>
					<script type="text/javascript" th:inline="javascript">
						/*<![CDATA[*/
						var ctx = document.getElementById("barChart")
								.getContext('2d');
						var myChart = new Chart(
								ctx,
								{
									type : 'bar',
									data : {
										labels : [ "Accident", "Fire",
												"Alterc", "Medical", "Meteo",
												"Other" ],
										datasets : [ {
											label : 'No. of incidents',
											data : [
													"[[${countIncidents.get('ACCIDENT')}]]",
													"[[${countIncidents.get('FIRE')}]]",
													"[[${countIncidents.get('ALTERCATION')}]]",
													"[[${countIncidents.get('MEDICAL_EMERGENCY')}]]",
													"[[${countIncidents.get('METEOROLOGICAL_PHENOMENON')}]]",
													"[[${countIncidents.get('OTHER')}]]" ],
											backgroundColor : [
													'rgba(255, 99, 132, 0.2)',
													'rgba(54, 162, 235, 0.2)',
													'rgba(255, 206, 86, 0.2)',
													'rgba(75, 192, 192, 0.2)',
													'rgba(153, 102, 255, 0.2)',
													'rgba(255, 159, 64, 0.2)' ],
											borderColor : [
													'rgba(255,99,132,1)',
													'rgba(54, 162, 235, 1)',
													'rgba(255, 206, 86, 1)',
													'rgba(75, 192, 192, 1)',
													'rgba(153, 102, 255, 1)',
													'rgba(255, 159, 64, 1)' ],
											borderWidth : 1
										} ]
									},
									options : {
										responsive : true,
										legend : {
											position : 'top',
										},
										scales : {
											yAxes : [ {
												ticks : {
													fixedStepSize : 2,
													beginAtZero : true
												}
											} ]
										}
									}
								});
						/*]]>*/
					</script>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="card">
				<div class="card-header">
					<h3>Status chart</h3>
				</div>
				<div class="card-body">
					<div class="container">
						<canvas id="doughChart"></canvas>
					</div>
					<script type="text/javascript" th:inline="javascript">
						var config = {
							type : 'doughnut',
							data : {
								datasets : [ {
									data : [
											"[[${countStatus.get('OPEN')}]]",
											"[[${countStatus.get('IN_PROCESS')}]]",
											"[[${countStatus.get('CLOSED')}]]",
											"[[${countStatus.get('CANCELLED')}]]", ],
									backgroundColor : [ 'rgb(255, 99, 132)',
											'rgb(255, 205, 86)',
											'rgb(75, 192, 192)',
											'rgb(54, 162, 235)', ],
									label : 'Status dataset'
								} ],
								labels : [ 'Open', 'In Process', 'Closed',
										'Cancelled' ]
							},
							options : {
								responsive : true,
								legend : {
									position : 'top',
								},
								animation : {
									animateScale : true,
									animateRotate : true
								}
							}
						};
						window.onload = function() {
							var ctx = document.getElementById('doughChart')
									.getContext('2d');
							window.myDoughnut = new Chart(ctx, config);
						};
					</script>
				</div>
			</div>
		</div>
	</div>
	<div class="card m-5">
		<div class="card">
			<div class="card-header">Incident geolocalization</div>
			<div class="card-body">
				<div id="map"></div>
			</div>
		</div>
	</div>
	<script th:inline=javascript>
		/*<![CDATA[*/
		var locations = [[${localizaciones}]];
		var nombres = [[${nombres}]];
		var descripciones = [[${descriptions}]];
		function initMap() {
			var map = new google.maps.Map(document.getElementById('map'), {
				zoom : 6,
				center : {
					lat : 40.1888159,
					lng : -5.4138884
				}
			});
			// Create an array of alphabetical characters used to label the markers.
			var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
			var contentString = '';
			
			// Add some markers to the map.
			// Note: The code uses the JavaScript Array.prototype.map() method to
			// create an array of markers based on a given "locations" array.
			// The map() method here has nothing to do with the Google Maps API.
			var markers = locations.map(function(location, i) {
				contentString = '<h1>' + nombres[i] + '</h1>' + '<p>' + descripciones[i] + '</p>';
				var infowindow = new google.maps.InfoWindow({
					content : contentString
				});
				var marker = new google.maps.Marker({
					position : location,
					label : labels[i % labels.length]
				});
				marker.addListener('click', function() {
					infowindow.open(map, marker);
				});
				return marker;
			});
			// Add a marker clusterer to manage the markers.
			var markerCluster = new MarkerClusterer(
					map,
					markers,
					{
						imagePath : 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'
					});
		};
		/*]]>*/
	</script>
	<script async defer
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwARKHHxXQPny7hJNwu1xxJKoUP-l6O7Q&callback=initMap">
		
	</script>
</body>
</html>