
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport"
		content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<title>Log into InciDashboard</title>
	
	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	
	<!-- Using some scripts -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	
	<!-- Custom styles for this template -->
	<link href="/css/custom-login.css" rel="stylesheet">
</head>

<body class="text-center">
	<form class="form-signin" method="post" action="/login">
		<img class="mb-4" src="/img/inc_support_icon.png" alt="" width="72" height="72">
		<h1 class="h3 mb-3 font-weight-normal" id="loginText">Please sign in</h1>
		<label for="inputUser" class="sr-only">Username</label>
		<input type="text" id="inputUser" name="username" class="form-control" placeholder="Username" required autofocus>
		<label for="inputPassword" class="sr-only">Password</label>
		<input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
		<button id="loginButton" class="btn btn-lg btn-dark btn-block" type="submit">Sign in</button>
		<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
		<p class="mt-5 mb-3 text-muted">&copy; InciDashboard_i1a - 2018</p>
	</form>
</body>
</html>