<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport"
		content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<title>InciDashboard i1a</title>
	
	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	
	<!-- Using some scripts -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	
	<!-- Custom styles for this template -->
	<link href="/css/custom-dashboard.css" rel="stylesheet">
</head>

<body>
	<main role="main" class="container">
	<div class="card mt-5">
		<img class="card-img-top"
			th:src="'https://maps.googleapis.com/maps/api/staticmap?center=' + ${incident.location.lat} + ',' + ${incident.location.lng} +
			'&zoom=8&scale=1&size=800x300&maptype=hybrid&key=AIzaSyCuTSKiLsy3L3BL4yWfmaW1Ovs-qgRc6yY&format=png&visual_refresh=true
			&markers=size:large%7Ccolor:0x0080ff%7Clabel:%7C' + ${incident.location.lat} + ',' + ${incident.location.lng}"
			alt="Incident map">
		<div class="card-body">
			<h5 class="card-title" th:text="${incident.incidentName}">Incident name</h5>
			<p class="card-text" th:text="${incident.description}">Here goes the incident description.</p>
		</div>
		<ul class="list-group list-group-flush">
			<li class="list-group-item" th:text="${'Incident submitted by: ' + incident.agent.name}">Incident sent by Agent</li>
			<li class="list-group-item" th:text="${'Latitude: ' + incident.location.lat + ' ~ Longitude: ' + incident.location.lng}">Incident location</li>
			<li class="list-group-item" th:text="${'Submitted on: ' + incident.date}">Incident date</li>
			<li class="list-group-item">Tags:
				<ul class="list-inline" th:each="tag : ${incident.tags}">
					<li class="list-inline-item" th:text="${tag}">Tag</li>
				</ul>
			</li>
			<li class="list-group-item">Aditional properties:
				<ul class="list-inline" th:each="prop : ${incident.aditionalProperties}">
					<li class="list-inline-item" th:text="${prop.getKey() + ' - ' + prop.getValue()}">Property</li>
				</ul>
			</li>
			<li class="list-group-item" th:text="${'Topic: ' + incident.topic}">Incident topic</li>
			<li class="list-group-item" th:text="${'Status: ' + incident.status}">Incident status</li>
		</ul>
		<div class="card-body">
			<a href="/dashboard" class="card-link">⬅ Go back</a>
		</div>
	</div>
	</main>
</body>
</html>